<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Log in</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://www.thehocket.com">Hocket.IO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/chat?user=<%= user %>">Chat</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#">Tasks</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/logout">logout</a>
            </li>
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>


      <div class="container-fluid">

        <h2 class="ml-auto h-6 lead" style="font-size: 35px !important; text-align: center;">List of Tasks</h2>

        <div class="row border rounded" style="height: 38px !important; padding: 3px 0;">
          <div class="col-5">
              <div class="row">
                <div class="col-1"> Title:</div>
                <form class="col-11">
                    <div class="form-group">
                    <input type="email" class="form-control form-control-sm">
                    </div>
                </form>
              </div>
          </div>
          <div class="col-3">
            <span>From : Assigner</span><pre class="d-inline">     |     </pre>
            <span>To : Assignee</span>
            
          </div>
          <div class="col-2">
            <div class="form-group">
                <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                  <option>working</option>
                  <option>stuck</option>
                  <option>done</option>
                </select>
              </div>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-sm btn-primary w-100">Edit</button>
          </div>
          <div class="col-1">
            <button type="button" class="btn btn-sm btn-danger w-100">Delete</button>
          </div>
        </div>

        <div class="row border rounded" style="height: 38px !important; padding: 3px 0;">
            <div class="col-5">
                <div class="row">
                  <div class="col-1"> Title:</div>
                  <form class="col-11">
                      <div class="form-group">
                      <input type="email" class="form-control form-control-sm">
                      </div>
                  </form>
                </div>
            </div>
            <div class="col-3">
              <span>From : Assigner</span><pre class="d-inline">     |     </pre>
              <span>To : Assignee</span>
              
            </div>
            <div class="col-2">
              <div class="form-group">
                  <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                    <option>working</option>
                    <option>stuck</option>
                    <option>done</option>
                  </select>
                </div>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-primary w-100">Edit</button>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-danger w-100">Delete</button>
            </div>
          </div>

          <div class="row border rounded" style="height: 38px !important; padding: 3px 0;">
            <div class="col-5">
                <div class="row">
                  <div class="col-1"> Title:</div>
                  <form class="col-11">
                      <div class="form-group">
                      <input type="email" class="form-control form-control-sm">
                      </div>
                  </form>
                </div>
            </div>
            <div class="col-3">
              <span>From : Assigner</span><pre class="d-inline">     |     </pre>
              <span>To : Assignee</span>
              
            </div>
            <div class="col-2">
              <div class="form-group">
                  <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                    <option>working</option>
                    <option>stuck</option>
                    <option>done</option>
                  </select>
                </div>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-primary w-100">Edit</button>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-danger w-100">Delete</button>
            </div>
          </div>

          <div class="row border rounded" style="height: 38px !important; padding: 3px 0;">
            <div class="col-5">
                <div class="row">
                  <div class="col-1"> Title:</div>
                  <form class="col-11">
                      <div class="form-group">
                      <input type="email" class="form-control form-control-sm">
                      </div>
                  </form>
                </div>
            </div>
            <div class="col-3">
              <span>From : Assigner</span><pre class="d-inline">     |     </pre>
              <span>To : Assignee</span>
              
            </div>
            <div class="col-2">
              <div class="form-group">
                  <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                    <option>working</option>
                    <option>stuck</option>
                    <option>done</option>
                  </select>
                </div>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-primary w-100">Edit</button>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-danger w-100">Delete</button>
            </div>
          </div>

          <div class="row border rounded" style="height: 38px !important; padding: 3px 0;">
            <div class="col-5">
                <div class="row">
                  <div class="col-1"> Title:</div>
                  <form class="col-11">
                      <div class="form-group">
                      <input type="email" class="form-control form-control-sm">
                      </div>
                  </form>
                </div>
            </div>
            <div class="col-3">
              <span>From : Assigner</span><pre class="d-inline">     |     </pre>
              <span>To : Assignee</span>
              
            </div>
            <div class="col-2">
              <div class="form-group">
                  <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                    <option>working</option>
                    <option>stuck</option>
                    <option>done</option>
                  </select>
                </div>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-primary w-100">Edit</button>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-danger w-100">Delete</button>
            </div>
          </div>

          <div class="row border rounded" style="height: 38px !important; padding: 3px 0;">
            <div class="col-5">
                <div class="row">
                  <div class="col-1"> Title:</div>
                  <form class="col-11">
                      <div class="form-group">
                      <input type="email" class="form-control form-control-sm">
                      </div>
                  </form>
                </div>
            </div>
            <div class="col-3">
              <span>From : Assigner</span><pre class="d-inline">     |     </pre>
              <span>To : Assignee</span>
              
            </div>
            <div class="col-2">
              <div class="form-group">
                  <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                    <option>working</option>
                    <option>stuck</option>
                    <option>done</option>
                  </select>
                </div>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-primary w-100">Edit</button>
            </div>
            <div class="col-1">
              <button type="button" class="btn btn-sm btn-danger w-100">Delete</button>
            </div>
          </div>
      </div>








    
</body>
</html>